.arrow-back{
    font-size: 130%;
}
.bottomRow
{
  margin-bottom: 20px;
 font-style: "Helvetica";
}


.back_color{
    --background: linear-gradient(197deg, rgb(158, 227, 240) 2%, rgb(82, 180, 197) 13.5%, rgb(50, 174, 196) 43.33%, rgb(43, 145, 163) 100%);
    margin-top: 0 !important;
}

.header_color{
    --ion-background-color : rgb(22, 54, 82);
    color: aliceblue;
}

.head{
border-bottom: 5px solid #FF7216;

}

.btn{
    --ion-color-primary: #FF7216;
    
    }

  